/* @import url(./assets/heroes.png); */
body {
  background-color: whitesmoke;

}
.App {
  text-align: center;
}

.bar-text {
  color: white;
  margin-left: 20px;
  font-weight: 500;
  font-size: medium;
}
.bar-text:hover {
  color: DeepSkyBlue;
  text-decoration: none;
}

.container {
  min-height: 80vh;
  padding-top: 50px;
}

.jumbotron {
  background-image: url("./assets/heroes.png");
  background-repeat: no-repeat;
  background-size: 36%;
  background-position: center;
  height: 50vh;
  color: white;
  font-weight: 600;
  background-color: #007BFF;
}
.jumbotron > h1 {
  margin-top: 40px;
  text-align: center;
  font-size: 60px;
}

.header-card {
  background: #007BFF;
  color: white;
  height: 60px;
  border-radius: 0px;

}

.header-title {
  padding: 10px;
}

.header-btn {
  margin: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #007BFF;
  font-weight: 500;
  border-radius: 0px;
  /* border-style: none; */
  outline: none;
  background: white;

}

Table {
  background-color: white;
  box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
}
.tr-style td {
  vertical-align: middle;
}

.no-data-card {
  height: 50px;
  text-align: center;
  padding-top: 10px;
}

.btn-option:hover { 
  background: whitesmoke;
  color: black;
}

.modal-btn-group {
  text-align: right;
}

footer {
  background-color: #007BFF;
  color: white;
}