body {
  background-color: whitesmoke;

}
.App {
  text-align: center;
}

.bar-text {
  color: white;
}
.bar-text:hover {
  color: DeepSkyBlue;
  text-decoration: none;
}

.container {
  height: 83vh;
  padding-top: 50px;
  /* padding-bottom: 10%; */
}
.jumbotron {
  height: 50vh;
  color: white;
  font-weight: 600;
  background-color: #007BFF;
}
.jumbotron > h1 {
  margin-top: 40px;
  text-align: center;
}

Table {
  background-color: white;
}

footer {
  background-color: #007BFF;
  color: white;
}